body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    flex: 1;
}

.header, .landing {
    background-color: #1f2937;
    display: flex;
    flex-wrap: wrap;

}

.header {
    justify-content: space-between;
    margin: 0;
    align-items: center;
}

.links {
    display: flex;
    list-style: none;
}

.landing {
    display: flex;
    flex-wrap: wrap;
    background-color: #1f2937;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    flex: 1;
   
}

.title-web {
    display: flex;    
    flex-direction: column;
    max-width: 200px;
 
}

.image {
    background-color: grey;
    width: 600px;
    height: 300px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.info-title {
    justify-content: center;
    align-self: center;
}

.info-cards {
    display: flex;
    justify-content: space-around;
}

.footer {
    background-color: #1f2937;
    text-align: center;
}

